* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ******************************* */
/* ****** Estilos generales ****** */
/* ******************************* */
.flexContainer {
    display: flex;
}

.noDots {
    list-style: none;
}

.noMarginTop {
    margin-top: 0;
}

body {
    background: url("../img/header-desktop.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Liberation Sans",Arial,Helvetica,FreeSans,sans-serif;
}

img {
    width: 100%;
}

/* ****** Fin estilos generales ****** */

/* *************************************** */
/* ****** Estilos nav accesibilidad ****** */
/* *************************************** */
.navAccesibilidad {
    background: url("../img/Background2.png") repeat center;
}

.navAccesibilidad ul {
    display: flex;
    justify-content: space-around;
}

.accesibilidadItem {
    margin: 0.5rem 0;
}

.accesibilidadItem a {
    display: block;
    text-decoration: none;
    color: #ccc;
    background: rgba(128, 255, 0, 0.116);
    padding: 1rem 0.5rem;
}

.accesibilidadItem a:hover, .accesibilidadItem a:focus {
    background: rgba(128, 255, 0, 0.25);
    outline: 3px solid #ccc;
}

/* *** Fin estilos nav accesibilidad *** */

/* ********************************** */
/* ****** Estilos header y nav ****** */
/* ********************************** */
.headerNavContainer {
    position: sticky;
    top: 0.01em;
    background-color: rgba(94, 155, 51, 0.897);
    height: 8vh; /* Height específico para evitar que el contenido se desplace al abrir el menú (gustos personales) */
}

header {
    padding: 1vh 1em;
    height: inherit;
}

.title {
    line-height: 8vh;
}

.logoContainer {
    margin: 0 3em 0 0;
    width: 70%;
}

.logoContainer img {
    max-width: 20rem;
    max-height: 6vh;
}


/* *** Menu section *** */
#navegacion {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.openMenu, .closeMenu {
    width: 5rem;
    position: absolute;
    top: 0;
    text-align: right;
    height: 8vh;
}

.closeMenu {
    display: none; /* Ocultar por defecto el icono para cerrar menú */
    margin: 1.5vw;
    max-height: 8vh;
}

.openMenu > figure, .closeMenu > figure {
    margin: 0;
}

.openMenu img, .closeMenu img {
    max-height: 8vh;
    width: auto;
}

.closeMenu img {
    max-height: 6vh; /* Máxima altura diferente al de abrir menú por diferencia de tamaño del icono */
    width: auto;
}

#navegacion nav { /* "Achicar" a cero los enlaces para no mostrarse por defecto */
    height: 0;
    overflow: hidden;
    transition: height 1s;
    background: url("../img/Dirt-background.png") repeat center;
    width: 100%;
}

.menu {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
}

.menu li {
    margin-bottom: 1em;
}

.menuLinks {
    display: block;
    background: rgba(94, 155, 51, 0.897);
    padding: 0.5em;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.menuLinks:hover, .menuLinks:focus {
    background: rgba(117, 240, 30, 0.897);
}

#navegacion:target .openMenu {
    display: none; /* Ocultar icono de abrir menú cuando este se encuentra abierto */
}

#navegacion:target nav {
    height: 15rem;
    transition: height 1s;
}

#navegacion:target .closeMenu {
    display: block; /* Mostar icono para cerrar el menú cuando se encuentre abierto */
}

/* Fin de estilos header y nav */


/* ************************** */
/* ****** Estilos main ****** */
/* ************************** */
article {
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(240, 240, 240, 0.7);
    text-align: justify;
    border-radius: 0.4rem;
}

.fontColor {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
}

h2, h3, h4, h5 {
    margin: 1rem 0 0.5rem;
    text-align: left;
    column-span: all;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
    font-style: italic;
}

h5 {
    font-size: 1.3rem;
    font-style: italic;
}

figure {
    margin: 1rem;
    column-span: all;
}

.notchImage img {
    border-radius: 50%;
}

/* *** Tabla de ediciones *** */
.tablesContainer {
    flex-direction: column;
}

.javaEdition, .bedrockEdition, .dungeons, .educationEdition {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto 2rem;
    background: #eeea;
}

th, td {
    border: 0.1rem solid black;
}

tbody {
    width: 100%;
    /* Width definido para que ocupe el 100% de su contenedor */
}

tr {
    display: flex;
    flex-direction: column;
    /* Mostrar las filas de la tabla como columnas */
    font-size: 1.2rem;
}

.tableHeaders {
    display: none; /* Ocultar por defecto los encabezados de la tabla para poder mostrarlos en columna mediante pseudo-clase */
}

td {
    display: flex;
    align-items: center;
}

td::before {
    background: rgba(94, 155, 51, 0.493);
    margin-right: 0.5em;
    text-align: left;
    font-style: italic;
    font-weight: 500;
    padding: 1rem;
}

.javaEdition td:nth-of-type(1)::before {
    content: "Versión final";
}

.javaEdition td:nth-of-type(2)::before, .javaEdition td:nth-of-type(3)::before {
    content: "Versión en desarrollo";
}

.bedrockEdition td:nth-of-type(1)::before, .bedrockEdition td:nth-of-type(2)::before, .bedrockEdition td:nth-of-type(3)::before, .bedrockEdition td:nth-of-type(4)::before, .bedrockEdition td:nth-of-type(5)::before, .bedrockEdition td:nth-of-type(6)::before, .bedrockEdition td:nth-of-type(7)::before, .bedrockEdition td:nth-of-type(8)::before {
    content: "Versión final";
}

.bedrockEdition td:nth-of-type(9)::before, .bedrockEdition td:nth-of-type(10)::before, .bedrockEdition td:nth-of-type(11)::before{
    content: "Versión en desarrollo";
}

.dungeons td::before, .educationEdition td::before {
    content: "Versión final";
}

.tableIllustrations {
    max-width: 2rem;
    margin: 0.2rem 0.4rem;
}

.tableIllustrations img {
    vertical-align: middle;
}

td a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 0 0.3rem;
}


/* ******************************* */
/* ****** Celulares > 320px ****** */
/* ******************************* */
@media screen and (min-width: 320px) {
    /* *** Main *** */
    .survivalMode, .creativeMode, .hardcoreMode {
        margin-left: 0;
        margin-right: 0;
        background: none;
    }
}



/* ***************************** */
/* ****** Tablets > 768px ****** */
/* ***************************** */
@media screen and (min-width: 768px) {
    article {
        padding: 1rem;
        margin: 1.5em;
    }
    
    .columnsContent {
        column-count: 2;
        column-gap: 1.5em;
    }

    figure {
        max-width: 18rem;
        column-span: all;
        margin: 2rem auto;
    }

    .survival, .creativeScreen, .hardcoreDeath {
        max-width: 30rem;
    }

    .tableIllustrations {
        max-width: 3rem;
    }

}



/* ****************************** */
/* ****** Desktop > 1024px ****** */
/* ****************************** */
@media screen and (min-width: 1024px) {
    .headerNavContainer {
        height: auto;
        background: url("../img/Background2.png") repeat center;
    }

    header {
        padding: 2rem 2rem 1rem;
        height: auto;
    }

    .title {
        line-height: unset;
    }

    .logoContainer {
        margin: auto;
    }

    #navegacion {
        display: block;
    }

    .openMenu, .closeMenu {
        display: none;
    }

    #navegacion nav {
        height: auto;
        background: none;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu li {
        margin: 0 2rem 0;
    }

    .menuLinks {
        position: relative;
        top: 0;
        color: #ccc;
        background: rgba(38, 83, 5, 0.897);
        border-radius: 0.4rem;
        padding: 0.7rem 1rem;
        transition: background 1s ease, top 1s;
    }

    .menuLinks:hover, .menuLinks:focus {
        top: -0.7rem;
        background: rgba(94, 155, 51, 0.897);
        /* border-bottom: 0.2rem solid #ccc; */
        transition: background 1s ease, top 1s;
    }

    #contenido > section {
        padding: 2rem;
    }

    article {
        max-width: 1300px;
        margin: auto;
        padding: 2rem;
    }

    .columnsContent {
        column-count: 3;
    }

    /* *** Tabla *** */
    .javaEdition, .bedrockEdition, .dungeons, .educationEdition {
        min-width: fit-content;
        max-width: 35rem;
    }
    
    caption h3 {
        text-align: center;
    }

    tr, .tableHeaders {
        display: table-row;
        /* Resetear el comportamiento de las filas */
        text-align: center;
    }

    th {
        padding: 0.5rem 1rem;
    }

    td {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    td::before {
        display: none;
    }

    .tableIllustrations {
        margin: 1rem auto;
    }
}



/* ************************************* */
/* ****** Large desktops > 1440px ****** */
/* ************************************* */
@media screen and (min-width: 1440px) {
    
}